<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Students Info</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <h1 class="title">ADD NEW STUDENT</h1>

    <form class="form"  action="/new" method="POST">

        <label for="name">Name:</label>
        <input type="text" name="name"required>

        <label for="age">Age:</label>
        <input type="number" name="age" required>

        <label for="course">Course:</label>
        <input type="text" name="course" required>

        <label for="photo">Photo URL:</label>
        <input type="url" name="photo" placeholder="https//........" required>

        <button class = "btn" type="submit">Submit Student Info Here</button>
    </form>

    <a class="back" href="/gallery">Back To Home</a>

</body>
</html>