<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini-Blog</title>
</head>
<body>
    <h1>All Posts</h1>

    <a href="/new"> Create a New Post </a>
    <hr>

    <% if (posts.length === 0) { %>
        <p> No Posts yet.</p>
        <% } else { %>
             <% posts.forEach(post => { %>
                <h3><%= post.title %></h3>
                <p><%= post.content %></p>
                <small> <%=
                    post.createdAt.toLocaleString()%></small>
                    <hr>
                    <% }) %>
                    <% } %>
</body>
</html>