<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
</head>
<body>
    <h1> Create a Post</h1>

    <form action="/new", method="POST"></form>
        <label> Title</label><br>
        <input type="text" name="title" required><br><br>

        <label> Content</label><br>
        <textarea name="content" id=""></textarea>
    </form>
</body>
</html>